In [1]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
print(n1+n2)

enter value for n1 3
enter value for n2 4

7

In [1]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
print(n1-n2)

enter value for n1 6
enter value for n2 3

3

In [3]:

n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
print(n1*n2)

enter value for n1 4
enter value for n2 9

36

In [5]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
print(n1/n2)

enter value for n1 56
enter value for n2 8

7.0

In [1]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
temp=n1
n1=n2
n2=temp
print(n1,n2)

enter value for n1 5
enter value for n2 3

3 5

In [3]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
n1=n1+n2
n2=n1-n2
n1=n1-n2
print(n1,n2)

enter value for n1 7
enter value for n2 2

2 7

In [5]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
n1=n1*n2
n2=n1/n2
n1=n1/n2
print(n1,n2)

enter value for n1 6
enter value for n2 7

7.0 6.0

In [7]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
sum=n1+n2
if sum%2==0:
    print("even")
else:
    print("odd")

enter value for n1 5
enter value for n2 8

odd

In [9]:
n1=int(input("enter value for n1"))
n2=int(input("enter value for n2"))
if n1>n2:
    print(n1,"is biggest")
elif n2>n1:
    print(n2,"is biggest")
else:
    print("equal")

enter value for n1 7
enter value for n2 8

8 is biggest

In [9]:
n=int(input("value of n"))
for n in range(1,11,2):
    print(n)

value of n 1

1
3
5
7
9

In [11]:
n=int(input("value of n"))
for n in range(1,11,1):
    print(n)

value of n 1

1
2
3
4
5
6
7
8
9
10

In [13]:
n=int(input("enter value for n"))
for n in range(0,11,2):
    print(n)

enter value for n 1

0
2
4
6
8
10

In [15]:
n=int(input("enter value for n"))
for n in range(2,11,1):
    if n%2==0:
       print(n)

enter value for n 2

2
4
6
8
10

In [17]:
for n in range(0,11,1):
    print(n)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
for n in range(1,11,1):
    if n%2==1:
       print(n)

1
3
5
7
9

In [21]:
for n in range(11,0,-1):
    print(n)

11
10
9
8
7
6
5
4
3
2
1

In [46]:
n=int(input("enter value for n"))
for i in range(1,6):
    print(2*n-1)
    n=n+1

enter value for n 1

1
3
5
7
9

In [50]:
fc=0
n=int(input("value for n1"))
for f in range(1,n+1):
    if n%f==0:
       fc=fc+1
if fc==2:
   print(n,"is prime")
else:
   print(n,"is not prime")

value for n1 5

5 is prime

In [52]:
fc=0
n1=int(input("value for n1"))
for f in range(2,n1+1):
    if n1%f==0:
       fc=fc+1
       f=f+1
if fc==1:
   print(n1,"is prime")
else:
   print(n1,"is not prime")

value for n1 6

6 is not prime

In [54]:
fc=0
n=int(input("value for n1"))
for f in range(2,n+1):
    if n%f==0:
       fc=fc+1
if fc==0:
   print(n,"is prime")
else:
   print(n,"is not prime")

value for n1 8

8 is not prime

In [58]:
fs=0
n=int(input("value for n1"))
for f in range(1,n//2+1,1):
    if n%f==0:
       fs=fs+f    
       if fs==f:
          print(n,"is perfect")
    else:
          print(n,"is not perfect")

value for n1 6

6 is perfect

In [5]:
dc=0
n=int(input("value of n"))
while n>0:
      dc=dc+1
      n=n//10
      print(dc)

value of n 9456

1
2
3
4

In [7]:
rem=0
n=int(input("value of n"))
while n>0:
      rem=n%10
      n=n//10
      print(rem)

value of n 7492

2
9
4
7

In [9]:
rem=0
rn=0
n=int(input("enter a value for n"))
while n>0:
      rem=n%10
      rn=rn*10+rem
      n=n//10
      print(rn)

enter a value for n 8475

5
57
574
5748

In [3]:
es=0
os=0
n=int(input("value of n"))
while n>0:
      rem=n%10
      n=n//10
if rem%2==0:
   print("es=es+rem")
else:
   print("os=os+rem")
if es>os:
   print(es,"is bigger")
else :
   print(os,"is bigger")

value of n 6745

es=es+rem
0 is bigger

In [5]:
eps=0
ops=0
dc=0
n=int(input("value of n"))
while n>0:
      rem=n%10
      rn=n*10+rem
      n=n//10
if dc%2==0:
   print("eps=eps+rem")
else:
   print("ops=ops+rem")
if eps>ops:
   print(eps,"is bigger")
else:
   print(ops,"is bigger")

value of n 7435

eps=eps+rem
0 is bigger

In [7]:
edc=0
odc=0
dc=0
n=int(input("value for n"))
while n>0:
      dc=dc+1
      rem=n%10
      n=n//10
if rem%2==0:
   print("edc=edc+1")
else:
   print("odc=odc+1")
if edc>odc:
   print(edc,"is biggest")
else:
   print(odc,"is biggest")

value for n 7213

odc=odc+1
0 is biggest

In [13]:
sum=0
n=int(input("value of n"))
while n>0:
      rem=n%10
      sum=sum+rem
      n=n//10
if sum>9:
   n=sum
   sum=0
   print(sum)

value of n 6958

0

In [15]:
f=1
n=int(input("value of n"))
while n>1:
      f=f*n
      n=n-1
      print(f)

value of n 5

5
20
60
120

In [17]:
n=int(input("value of n"))
while n>9:
      n=n//10+n%10
      print(n)

value of n 18

9

In [7]:
n=int(input("value of n"))
sum=0
dc=0
rem=0
temp=n
while temp>0:
      dc=dc+1
      temp=temp//10
temp=n
while temp>0:
   rem=temp%10
   sum=sum+rem**dc
   temp=temp//10
print(sum)
if sum==n:
   print(n,"is armstrong")
else:
   print(n,"is not armstrong")

value of n 1634

1634
1634 is armstrong

In [29]:
n=int(input("value of n"))
flds=0
mds=0
flds=flds+n%10
n=n//10
if n>9:
   mds=mds+n%10
else:
    flds=flds+n
if flds>mds:
    print(flds,"is bigger")
else:
    print(mds,"is bigger")

value of n 12324

4 is bigger

In [31]:
fc=0
n1=int(input("value for n1"))
n2=int(input("value for n2"))
for n in range(n1,n2+1):   
   fc=0
   for f in range(n1,n2+1):
      if n%f==0:
         fc=fc+1
   if fc==2:       
         print(n,"is prime")
   else:
         print(n,"is not prime")

value for n1 23
value for n2 76

23 is not prime
24 is not prime
25 is not prime
26 is not prime
27 is not prime
28 is not prime
29 is not prime
30 is not prime
31 is not prime
32 is not prime
33 is not prime
34 is not prime
35 is not prime
36 is not prime
37 is not prime
38 is not prime
39 is not prime
40 is not prime
41 is not prime
42 is not prime
43 is not prime
44 is not prime
45 is not prime
46 is prime
47 is not prime
48 is prime
49 is not prime
50 is prime
51 is not prime
52 is prime
53 is not prime
54 is prime
55 is not prime
56 is prime
57 is not prime
58 is prime
59 is not prime
60 is prime
61 is not prime
62 is prime
63 is not prime
64 is prime
65 is not prime
66 is prime
67 is not prime
68 is prime
69 is prime
70 is prime
71 is not prime
72 is not prime
73 is not prime
74 is prime
75 is prime
76 is prime

In [33]:
n1=int(input("value for n1"))
n2=int(input("value for n2"))
if n1>n2:
   print(n1,"is bigger")
else:
   print(n2,"is bigger")

value for n1 25
value for n2 74

74 is bigger

In [53]:
n = int(input("Enter the value of n: "))
for i in range(1, 11):
    print(n, "*", i, "=", n * i)

Enter the value of n:  2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [55]:
n=int(input("value for n"))
temp=n
dc=0
while temp>0:
      dc=dc+1
      temp=temp//10
print(n%10*10**(dc-1)+n%10**(dc-1)-n%10+n//10**(dc-1))

value for n 2345

5342

In [59]:
r=int(input("how many rows"))
for i in range(r,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()

how many rows 4

1234
123
12
1

In [61]:
r=int(input("how many rows"))
for i in range(1,r+1):
    for j in range(1,i+1):
        print(1,end='')
    print()

how many rows 4

1
11
111
1111

In [63]:
r=int(input("how many rows"))
for i in range(1,r+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

how many rows 4

1
12
123
1234

In [67]:
k=1
r=int(input("how many rows"))
for i in range(1,r+1):
    for j in range(1,i+1):
        print(k,end='')
        k=k+1
    print()

how many rows 4

1
23
456
78910

In [71]:
k=10
r=int(input("how many rows"))
for i in range(r,0,-1):
    for j in range(1,i+1):
        print(k,end='')
        k=k-1
    print()

how many rows 4

10987
654
32
1

In [73]:
r=int(input("how many rows"))
for i in range(r,0,-1):
    for j in range(1,i+1):
        print(1,end='')
    print()

how many rows 4

1111
111
11
1

In [1]:
n=int(input("enter a value"))
while n<=10:
      print(n,end=" ")
      if n==9:
         n=0
      n=n+2

enter a value 4

4 6 8 10